@font-face{
    font-family: LEMONMILK-Regular;
    src: url(images/fontes/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: LEMONMILK-Medium;
    src: url(images/fontes/LEMONMILK-Medium.otf);
}
@font-face {
    font-family: CocogooseProLight;
    src: url(images/fontes/CocogooseLight.ttf);
}
@font-face {
    font-family: SUNFLOWER;
    src: url(images/fontes/SUNFLOWER.otf);
}
@font-face {
  font-family: LEMONMILK-Bold;
  src: url(images/fontes/LEMONMILK-Bold.otf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background-image: url("images/tabuafundo.jpg");
    font-family: LEMONMILK-Medium;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
  }
  section{
    background-image: linear-gradient(#303030, #CB9C29);
    box-shadow: 0 0 2em black;
    height: 100vh;
    width: 33vw;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }
.txt-login {
    font-family: LEMONMILK-Medium;
    font-size: 25px;
    letter-spacing: 1px;
    margin: 10px 0;
    color: white;
  }
  .form-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
#logo{
  width: 18vw;
  float: top;
}
  
  form {
    width: 20vw;
    height: 250px;
    background-color: #606060;
    padding: 30px 25px;
    border-radius: 5px;
  }
  
  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 12px;
    color: #c0c0c0;
  }
  
  form .input-block input {
    width: 100%;
    background-color: #434343;
    display: block;
    margin-top: 2px;
    padding: 7px;
    font-size: 14px;
    color: white;
    border-radius: 2px;
    border: 1px solid #454545;
    outline-color: #454545;
  }
  
  form .btn-login {
    font-family: LEMONMILK-Medium;
    display: block;
    width: 17vw;
    border: none;
    background-color: #707070;
    box-shadow: 0 0 1em #454545;
    color: #c0c0c0;
    border-radius: 5px;
    margin: auto;
    padding: 7px;
    cursor: pointer;
  }
  .cadastre-se{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    float: bottom;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
  }
  a{
    color: white;
  }
form{
  overflow: hidden;
}

.logo, .txt-login, form, .cadastre-se{ /*faz aparecer quando inicia a tela*/
  animation-name: fade;
  animation-duration: 400ms;
}
form .input-block:nth-child(1){ /*anumação do username*/
  animation-name: move;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
  animation-delay: 50ms;
}
form .input-block:nth-child(2){ /*animação da senha*/
  animation-name: move;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
  animation-delay: 100ms;
  animation-fill-mode: backwards; /*fica na posição inicial do from -35%*/
}
form .btn-login{ /*animação do botao login*/
  animation-name: move;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
  animation-delay: 175ms;
  animation-fill-mode: backwards;
}
  @keyframes fade { /*KEYFRAMES cria uma animação e do lado é o nome*/
    from { /*começa*/
      opacity: 0;
      transform: scale(0.9);
    }
    to { /*termina*/
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes move {
    from {
      opacity: 0;
      transform: translateX(-35%); /*x movimenta para os lados*/
    }
    to {
      opacity: 1;
      transform: translate(0); /*0 = posição inicial*/
    }
  }
  
/*sumir com o form dps de clicar no botao*/
.form-hide{
  animation-name: down;
  animation-duration: 300ms;
  animation-fill-mode: forwards; /*fica na posição final 100vh*/
  animation-timing-function: ease-out;
}

@keyframes down {
  from{
    transform: translateY(0);/*Y movimenta pra cima e pra baixo*/
  }
  to{
    transform: translateY(100vh);
  }
}

/* form erro CORRIGIR!!!!!!!!!!*/
form.validate-error {
  animation: nono 500ms linear, fade paused;
  animation-iteration-count: 2;
}
@keyframes nono {
  0%{
    transform: translateX(0);
  }
  35%{
    transform: translateX(-10%);
  }
  70%{
    transform: translateX(10%);
  }
  100%{
    transform: translateX(0);
  }
}