<div class="container-menu">
                    <div class="navigation-menu">
                        <div class="menu-toggle"></div>
                        <ul class="menu">
                            <li>
                                <p class="menu-p-ola">
                                    <ion-icon name="person-outline"></ion-icon>Profile
                                </p>
                            </li>
                            <li>
                                <a class="menu-a-minha" href="#">
                                <ion-icon name="chatbox-outline"></ion-icon>Messages
                                </a>
                            </li>
                            <li>
                                <a class="menu-a-minha" href="#">
                                <ion-icon name="notifications-outline"></ion-icon>Notification
                                </a>
                            </li>
                            <li>
                                <a class="menu-a-login" href="#">
                                <ion-icon name="cog-outline"></ion-icon>Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>



:root {
  --gray: #707070;
  --purple: #4e65ff;
  --green-blue: #92effd;
  --white: #fff;
}

.container-menu {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.navigation-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
}

.navigation-menu .menu-toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navigation-menu .menu-toggle::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: var(--gray);
  transform: translateY(-10px);
  box-shadow: 0 10px var(--gray);
  transition: 0.5s;
}

.navigation-menu .menu-toggle::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: var(--gray);
  transform: translateY(10px);
  transition: 0.5s;
}

.menu {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 60px;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--gray);
}

.menu li {
  list-style: none;
}

.menu li .menu-p-ola {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  font-size: 1rem;
  text-decoration: none;
  color: var(--white);
}
.menu li .menu-a-minha {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    font-size: 1rem;
    text-decoration: none;
    color: var(--white);
  }

.menu li .menu-a-minha {
  font-size: 1.5rem;
}

.menu li .menu-a-minha:hover {
  color: var(--purple);
}

.navigation-menu.active .menu-toggle::before { /*botao menu vira X*/
  transform: translateY(0px) rotate(45deg);
  box-shadow: none;
}

.navigation-menu.active .menu-toggle::after {
  transform: translateY(0px) rotate(-45deg);
}

.navigation-menu.active {
  width: 300px;
  height: 350px;
  transition: width 0.5s, height 0.5s;
  transition-delay: 0s, 0.75s;
}
