.barra{
    background-color: #606060;
    position: sticky;
    top: 0;
    z-index: 9;
}
.barrinha {
    padding: 0 3vw 0 3vw;
    height: 4.18vh;
}

.barrinhaflex{
    display: flex;
    width: 100%;
    height: 4.18vh;
    justify-content: space-around;
    align-items: left;
}
.barrinhabtn {
    text-align: center;
    color: #C0C0C0;
    font-size: 25px;
    font-family: SUNFLOWER;
    padding: 0 20px 0 20px ;
}

.barrinha a:hover {
    background-color: #303030;
    border-radius: 5px;
} 
