.paineisitens{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px; 
    flex-wrap: wrap;
    
}

.painel{
    background-image: linear-gradient(#757575, #303030);
    border-radius: 7px;
    width: 220px;
    height: 338px;
    align-items: center;
    margin: 30px;
}

#img-painel{
    width: 197px;
    height: 197px;  
    padding: 13px 13px 10px 12px;
    border-radius: 20px;
}
#textoitens{
    padding-left: 15px;
    font-family: LEMONMILK-Regular;
    color: #fff;
    font-size: 16px;
}
.linhabaixo{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.precos{
    display: flex;
    justify-content: left;
    padding-left: 10px;
    padding-top: 10px;
}
#precoitens1{
    color: #fff;
    font-family: LEMONMILK-Medium;
    font-size: 50px;
    
}
#precoitens2{
    color: #fff;
    margin-top: 30px;
    font-family: LEMONMILK-Medium;
    font-size: 22.5px;
}